* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #d8572c;
}

/* navbar css starts here  */

.image {

    background: rgba(163, 155, 202, 0.5) url('../background_img_1.jpg');
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
}


.bg-light {
    background-color: #332d2a !important;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.toggle-color {
    background-color: #f9f3f3;
}

.navbar-brand {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: #f9f3f3 !important;
}


.nav-link {
    color: #f9f3f3 !important;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar .navbar-brand {
    position: relative;
    left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link:hover {
    color: rgb(100, 255, 100) !important;
}

/* navbar css ends here  */

/* here content css starts here  */
.hero-content {
    height: 100vh;
    color: #0f0e0e;
    padding: 3rem;
    margin-bottom: 1vh;
}

.hero-img {
    height: 700vh;
    width: 100%;
}

@media only screen and (max-width: 766px) {
    .hero-img {
        display: none;
    }
}

.go-transaction {
    border-radius: 1rem;
    padding: 1rem 1rem;
    font-size: 120%;
    background-color: rgb(64, 255, 64);
    color: black !important;
    font-weight: bold;
    transition: 0.3s;
}

.go-transaction:hover {
    text-decoration: none;
    background-color: rgb(118, 237, 255);
}

.col-md-8 {
    top: 122px;
    left: 17%;
}

/* footer css starts here */
footer {
    background-color: rgb(154, 237, 154);
    margin-bottom: 0%;
    margin-top: -11%;
}

.heading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}

.social-icons li {
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.github {
    color: #24292e !important;
}

.linkedin {
    color: #0077b5 !important;
}

.twitter {
    color: #0077b5 !important;
}

/* footer css ends here  */