* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(185, 245, 185);

}

/* navbar css starts here  */
.bg-light {
    background-color: rgb(35, 33, 35) !important;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.navbar .navbar-brand {
    position: relative;
    left: 10px;
}

.toggle-color {
    background-color: #f9f3f3;
}

.navbar-brand {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white !important;
}

.nav-link {
    color: white !important;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem !important;
    font-weight: bold;
}


.nav-link:hover {
    color: rgb(100, 255, 100) !important;
}

.bgcolor-sm {
    background-color: rgba(60, 255, 161, 0.781);
}

/* navbar css ends here  */

.my-info {
    padding: 2rem 5rem;
}

.btn-info {
    padding: 1rem 1.2rem;
    background-color: rgb(7, 129, 7) !important;
    color: white !important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover {
    background-color: rgb(89, 239, 89) !important;
}

.table-danger1 {
    background-color: rgb(7, 129, 7);
    color: #f9f3f3;
}

h1 {
    font-weight: bold;
}

.color {
    color: white !important;
    font-size: 15px !important;
}

.table-light1 {
    background-color: #fcfcfc;
}

.table-info1 {
    background-color: #fcfcfc;
}